[settings]
line_length=120
known_standard_library=bson
known_first_party=calculon,leela,bender
known_third_party=django,tastypie,braces,tastypie_mongodb,tastypie_redis,pymongo,redis,pytz,suds,dirtyfields,ordered_model,south,requests
multi_line_output=5
balanced_wrapping=1
