- name: Configure repositories
  include_tasks: repo.yml

- name: Install packages
  include_tasks: package.yml

- name: Install AWS tools
  include_tasks: aws.yml
  when: lookup('pipe', 'which aws 2>/dev/null || echo ""') != ""