font-family = FiraCode Nerd Font
cursor-style = underline
shell-integration-features = no-cursor
window-width = 200
window-height = 55
background-opacity = 0.90
background-blur-radius = 20
keybind = alt+left=unbind
keybind = alt+right=unbind
theme = light:catppuccin-latte,dark:catppuccin-frappe
