local wezterm = require "wezterm"

return {
    window_decorations = "{{ terminal.window.decorations }}",
    window_background_opacity = {{ terminal.window.opacity }},
    hide_tab_bar_if_only_one_tab = true,
    color_scheme = "{{ terminal.colors.wezterm.light }}",
    initial_cols = {{ terminal.window.width }},
    initial_rows = {{ terminal.window.height }},

    font = wezterm.font "{{ terminal.font.face }}",
    font_size = {{ terminal.font.size }},
    default_cursor_style = "BlinkingUnderline",

    {% if shell.bin is defined %}
        {% if shell.args is defined %}
        default_prog = { "{{ shell.bin }}", "{{ shell.args }}" }
        {% else %}
        default_prog = { "{{ shell.bin }}" }
        {% endif %}
    {% endif %}
}
