local wezterm = require "wezterm"

return {
  window_decorations = "NONE",
  window_background_opacity = {{ shell.window.opacity }},
  hide_tab_bar_if_only_one_tab = true,
  color_scheme = "nord",
  initial_cols = {{ shell.window.width }},
  initial_rows = {{ shell.window.height }},

  font = wezterm.font "{{ shell.font.face }}",
  font_size = {{ shell.font.size }},
  default_cursor_style = "BlinkingUnderline",
}
