if status is-interactive

    {% if abbrs is defined %}
    #
    # Abbreviations
    #

    {% for abbr, command in abbrs.items() %}
    abbr --add --global {{ abbr }} "{{ command }}"
    {% endfor %}
    {% endif %}

end
