if status is-interactive

    #
    # Aliases
    #

    {% if alias_bat is defined %}
    alias bat "{{ alias_bat }}"
    {% endif %}
    {% if alias_vim is defined %}
    alias vim "{{ alias_vim }}"
    {% endif %}
    {% if alias_k9s is defined %}
    alias k9s "{{ alias_k9s }}"
    {% endif %}
    {% if alias_kubectx is defined %}
    alias kubectx "{{ alias_kubectx }}"
    {% endif %}
    {% if alias_kubectl is defined %}
    alias kubectl "{{ alias_kubectl }}"
    {% endif %}

    #
    # Abbreviations
    #

    {% if abbr_pbcopy is defined %}
    abbr --add --global pbcopy "{{ abbr_pbcopy }}"
    {% endif %}
    {% if abbr_pbpaste is defined %}
    abbr --add --global pbpaste "{{ abbr_pbpaste }}"
    {% endif %}

    {% if abbr_open is defined %}
    # Open files in their associated apps from Terminal.
    abbr --add --global open "{{ abbr_open }} &>/dev/null"
    {% endif %}

    # Make rm a little safer (have it prompt once when deleting
    # more than three files or when deleting recursively).
    abbr --add --global rm "rm {{ commands.ls.params }}"

    # A nicer ls that also shows the git status of files
    abbr --add --global l "exa {{ commands.exa.params }} --all"

    # A nicer ls that also shows the git status of files
    # (but not hidden files)
    abbr --add --global ll "exa {{ commands.exa.params }}"

    # Same nicer ls but in tree view.
    abbr --add --global lt "exa {{ commands.exa.params }} --all --tree"

    # lc = line count
    abbr --add --global lc "wc -l"

    # Find out what’s running on port X
    abbr --add --global port "lsof -i"

end
