if status is-interactive

    {% if aliases is defined %}
    #
    # Aliases
    #

    {% for alias, command in aliases.items() %}

    alias {{ alias }} "{{ command }}"

    {% endfor %}
    {% endif %}

    {% if abbrs is defined %}
    #
    # Abbreviations
    #

    {% for abbr, command in abbrs.items() %}
    abbr --add --global {{ abbr }} "{{ command }}"
    {% endfor %}
    {% endif %}

end
