if status is-interactive

    #
    # Aliases
    #

    {% for alias, command in aliases.items() %}

    alias {{ alias }} "{{ command }}"

    {% endfor %}

    #
    # Abbreviations
    #

    {% for abbr, command in abbrs.items() %}
    abbr --add --global {{ abbr }} "{{ command }}"
    {% endfor %}

end
