themes {
    solarized-light {
        fg "#2C363C"
        bg "#D0CDCC"
        black "#D0CDCC"
        red "#A8334C"
        green "#4F6C31"
        yellow "#944927"
        blue "#286486"
        magenta "#88507D"
        cyan "#3B8992"
        white "#2C363C"
        orange "#804040"
    }

    nord {
        fg "#D8DEE9"
        bg "#2E3440"
        black "#3B4252"
        red "#BF616A"
        green "#A3BE8C"
        yellow "#EBCB8B"
        blue "#81A1C1"
        magenta "#B48EAD"
        cyan "#88C0D0"
        white "#E5E9F0"
        orange "#D08770"
    }
}
