#!/usr/bin/env bash

LIGHT_THEME="{{ shell.colors.light }}"
DARK_THEME="{{ shell.colors.dark }}"

COLOR_SCHEME_PREFERENCE="$1"

if [[ "$COLOR_SCHEME_PREFERENCE" == "light" ]]; then
    echo "Enabling light mode..."

    sed -i "s/color_scheme = \"$DARK_THEME\"/color_scheme = \"$LIGHT_THEME\"/" ~/.config/wezterm/wezterm.lua
else
    echo "Enabling dark mode..."

    sed -i "s/color_scheme = \"$LIGHT_THEME\"/color_scheme = \"$DARK_THEME\"/" ~/.config/wezterm/wezterm.lua
fi
