#!/usr/bin/env bash

WEZTERM_LIGHT_THEME="{{ terminal.colors.wezterm.light }}"
WEZTERM_DARK_THEME="{{ terminal.colors.wezterm.dark }}"
ZELLIJ_LIGHT_THEME="{{ terminal.colors.zellij.light }}"
ZELLIJ_DARK_THEME="{{ terminal.colors.zellij.dark }}"
LUNARVIM_LIGHT_THEME="{{ editor.colors.lunarvim.light }}"
LUNARVIM_DARK_THEME="{{ editor.colors.lunarvim.dark }}"
K9S_LIGHT_THEME="{{ terminal.colors.k9s.light }}"
K9S_DARK_THEME="{{ terminal.colors.k9s.dark }}"
BAT_LIGHT_THEME="{{ terminal.colors.bat.light }}"
BAT_DARK_THEME="{{ terminal.colors.bat.dark }}"

COLOR_SCHEME_PREFERENCE="$1"

SED_OPTS=""
OS=$(uname -s)

if [[ "$OS" == "Darwin" ]]; then
    SED_OPTS="-"
fi

if [[ "$COLOR_SCHEME_PREFERENCE" == "dark" ]]; then
    echo "Enabling dark mode..."

    sed -i $SED_OPTS "s/color_scheme = \"$WEZTERM_LIGHT_THEME\"/color_scheme = \"$WEZTERM_DARK_THEME\"/" ~/.config/wezterm/wezterm.lua
    sed -i $SED_OPTS "s/theme \"$ZELLIJ_LIGHT_THEME\"/theme \"$ZELLIJ_DARK_THEME\"/" ~/.config/zellij/config.kdl
    sed -i $SED_OPTS "s/lvim.colorscheme = \"$LUNARVIM_LIGHT_THEME\"/lvim.colorscheme = \"$LUNARVIM_DARK_THEME\"/" ~/.config/lvim/config.lua
    sed -i $SED_OPTS "s/skin:.*/skin: $K9S_DARK_THEME/g" ~/.config/k9s/config.yaml
    sed -i $SED_OPTS "s/$BAT_LIGHT_THEME/$BAT_DARK_THEME/g" ~/.config/bat/config

    if [[ "$OS" != "Darwin" ]]; then
        dconf reset /org/gnome/desktop/interface/color-scheme
    fi
else
    echo "Enabling light mode..."

    sed -i $SED_OPTS "s/color_scheme = \"$WEZTERM_DARK_THEME\"/color_scheme = \"$WEZTERM_LIGHT_THEME\"/" ~/.config/wezterm/wezterm.lua
    sed -i $SED_OPTS "s/theme \"$ZELLIJ_DARK_THEME\"/theme \"$ZELLIJ_LIGHT_THEME\"/" ~/.config/zellij/config.kdl
    sed -i $SED_OPTS "s/lvim.colorscheme = \"$LUNARVIM_DARK_THEME\"/lvim.colorscheme = \"$LUNARVIM_LIGHT_THEME\"/" ~/.config/lvim/config.lua
    sed -i $SED_OPTS "s/skin:.*/skin: $K9S_LIGHT_THEME/g" ~/.config/k9s/config.yaml
    sed -i $SED_OPTS "s/$BAT_DARK_THEME/$BAT_LIGHT_THEME/g" ~/.config/bat/config

    if [[ "$OS" != "Darwin" ]]; then
        dconf write /org/gnome/desktop/interface/color-scheme "'prefer-light'"
    fi
fi
