# vim: sw=2:ts=2:sts=2

{% if onepassword.enabled %}

Host *
  IdentityAgent "{{ onepassword.agent }}"
  Compression yes
  ControlMaster auto
  ServerAliveInterval 5
  ServerAliveCountMax 1

{% else %}

Host *
  IgnoreUnknown UseKeychain
  UseKeychain yes
  AddKeysToAgent yes
  IdentityFile ~/.ssh/penguix.pri
  Compression yes
  ControlMaster auto
  ServerAliveInterval 5
  ServerAliveCountMax 1

{% endif %}
